.stat-block {
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 5%;
  border: 1px solid maroon;

  &__title {
    font-size: 20px;
  }

  &__body {
    &-subtitle {
      display: inline;
      font-size: 14px;
    }

    &-values {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
    }

    &-stats {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
    }
  }
}
